{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>{% block title%}
         {% endblock %}
      </title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
      <!-- Other head elements -->
      <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
   </head>
   <body>
     <div class="rest" id="overlay" onclick="off()"></div>

{% include "header.html"%}

<div class="notifiaction" id="notification_shown">
   {% if messages %}
   {% for message in messages %}
   <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert" id="error_content">
     {{ message }}
   </div>
   {% endfor %}
   {% endif %}
</div>
{% block content %}
{% endblock %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
   AOS.init({
      easing: 'ease-out-back',
      duration: 1000
   });
</script>
<script src="{% static 'js/jquery-latest.pack.js' %}"></script>
<script src="{% static 'js/jcarousellite_1.0.1c4.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>     
<script src="{% static 'js/reloading.js' %}"></script> 
<script src="{% static 'js/animation.js' %}"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.brighttheme.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.buttons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.callbacks.js"></script>

<script type="text/javascript">
   $( document ).ready(function() {

      $('[data-speed]').each(function() {
         let rndInt = (Math.floor(Math.random() * 6) + 1)*1000
         $(this).attr('data-speed', rndInt);
      });

      $(".newsticker-jcarousellite").each(function() {
          var $currentCarousel = $(this);
          speed = parseInt($currentCarousel.attr("data-speed"))
          console.log(speed)
          $currentCarousel.jCarouselLite({
              vertical: true,
              hoverPause: true,
              visible: 1,
              auto:  speed,
              speed: 1000
          });
          console.log(speed)
      });
     
   });
</script>

<script>
   setTimeout(delayedFunction, 3000);
  </script>
</body>
</html>