{% extends "base.html" %}
{% block title %}
{{Category}}
{% endblock %}

{% block content %}
<input type="hidden" value="{{Category}}" id="category_value">
<input type="hidden" value="{{total_page}}" id="total_page">
<input type="hidden" value="{{page}}" id="page_no">
<div class="mid-container" id="category_page">
    <div class="container">
       <div class="row">
          <div class="col-12">
             <div class="heading_wrapper">
                <h2 class="mbot30 custom_h2 typewriter fsize"><span class="small_heading ">{{Category}} Articles</span></h2>
             </div>
             <div class="full_width_col trending_article mbot50" id="main_data_div">
                
               {% for data in Categorydata %} 
               {% if forloop.counter0 == 0 or forloop.counter0 == 15 or forloop.counter0 == 30 or forloop.counter0 == 45 %}
               <div class="row">
               {% endif %}
               {% if forloop.counter0|divisibleby:5 %}
               <div class="col-md-4 news_card_col"  id="cat{{forloop.counter0}}">
                  <div class="newsticker-jcarousellite" data-speed="1000">
                     <ul>
            {%endif%}
            <li>
               <a href="{% url 'GetNewsDetails' %}?id={{data.news_id}}">
                  <h5 class="fw-600 titlelinelimitation" id="title{{data.news_id}}">
                     {{data.title}}
                  </h5>
                  <p  class="descriptionlinelimitation">
                     {{data.description}}
                  </p>
               </a>
               <div class="card_actions_col" >
                     <div class="action_icon smile-icon-wrap">
                        <a href="javascript:void(0)" id="reaction_tag{{data.news_id}}">
                           {% if data.reaction_type and data.reaction_type != 'NoData' %}
                              <i class="fa-regular fa-face-smile"></i> 
                              <i class="fa-regular {{data.reaction_type}} " onclick="delete_reaction('{{data.news_id}}')"></i> 
                           {%else%}
                                 <i class="fa-regular fa-face-smile"></i>
                           {%endif%}
                           <span class="fw-500" id="reaction_count{{data.news_id}}">{{data.reaction_count}}</span>
                        </a>  
                     <div class="tooltip">
                        <i class="fa-regular fa-thumbs-up" onclick="send_reaction('fa-thumbs-up','{{data.news_id}}')"></i>
                        <i class="fa-regular fa-heart" onclick="send_reaction('fa-heart','{{data.news_id}}')"></i>
                        <i class="fa-regular fa-face-sad-cry" onclick="send_reaction('fa-face-sad-cry','{{data.news_id}}')"></i>
                        <i class="fa-regular fa-face-laugh-wink" onclick="send_reaction('fa-face-laugh-wink','{{data.news_id}}')"></i>
                        <i class="fa-regular fa-face-meh" onclick="send_reaction('fa-face-meh','{{data.news_id}}')"></i>
                        <i class="fa-regular fa-face-frown" onclick="send_reaction('fa-face-frown','{{data.news_id}}')"></i>
                        <i class="fa-regular fa-face-tired" onclick="send_reaction('fa-face-tired','{{data.news_id}}')"></i>
                     </div>                                 
                     </div>
                     <div class="action_icon">
                        <a href="javascript:void(0)" class="comment-icon" onclick="toggleOverlay('{{data.news_id}}')">
                           <i class="fa-regular fa-comment"></i>
                           <span class="fw-500" id="comnt_count{{data.news_id}}">{{data.cmnt_count}}</span>
                        </a>
                     </div>
                     <div class="action_icon">
                        <a href="javascript:void(0)" class="copy-icon" onclick= "textcopied('{% url 'GetNewsDetails' %}?id={{data.news_id}}')" >
                           <i class="fa-regular fa-share-from-square"></i>
                        </a>
                     </div>
               </div>
            </li>
         {% if forloop.counter|divisibleby:5 %}
                  </ul>
               </div>
            </div>
         {%endif%}
                  {% if forloop.counter0 == 14 or forloop.counter0 == 29 or forloop.counter0 == 44 %}
                   </div>
               {% endif %}
               {%endfor%}
             </div>
          </div>
       </div>
    </div>
 </div>
 <div class="col-4 comment-bar" id="commentOverlay">
    <h2 class="mbot30 custom_h2 typewriter fsize"><span class="small_heading ">COMMENTS</span></h2>
    <div class="comment-box">
       <h3 id="comnts_heading">Heading</h3>
    </div>
    <div class="comments-wrap extra-height" id="main_comments_div">
    </div>
    <div class="comment_send_col" id="comment_input_div">
       <input type="hidden" id="comment_news_id">
       <input placeholder="Write your comment here...." onchange="send_comment()" id="comment_input_value"/>
       <input type="button" class="search_btn" />
    </div>
 </div>
{% endblock %}